<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link href="static/css/site.css" rel="stylesheet">
</head>
<body background="http://www.walldevil.com/wallpapers/a77/background-abstract-bubbles-blue-pictures-wallpapers.jpg">
<center><a href='index.html'><img src = 'https://d30y9cdsu7xlg0.cloudfront.net/png/193107-200.png' height='100' width='100'></a></center>
<body class="pt-page-fade">

<ul id='menu'>
<li style='float:center'><a href='projects.html'>Projects</a></li>
<li style='float:center'><a href='network.html'>Networks</a></li>
<li style='float:center'><a href='me.html'>Me</a></li>
<li style='float:center'><a href='about.html' class='active'>About Us</a></li>
<li style='float:right'><u><a href='index.html'>Sign Up</a></u></li>
<li style='float:right'><u><a href='index.html'>Log In</a></u></li>
</ul>

<div id="main">
  <h1>About Us</h1>
  <p>The USS Enterprise (NCC-1701) was a 23rd century Federation Constitution-class starship operated by Starfleet. In the course of her career, the Enterprise became the most celebrated starship of her time.

In her forty years of service and discovery, through upgrades and at least two refits, she took part in numerous first contacts, military engagements, and time-travels. She achieved her most lasting fame from the five-year mission (2265-2270) under the command of Captain James T. Kirk. (Star Trek: The Original Series; Star Trek: The Motion Picture; VOY: "Q2")

The Enterprise was destroyed over the Genesis Planet in 2285 when Kirk activated the ship's auto-destruct sequence to prevent the Enterprise from falling into the hands of the Klingons. In the early to mid-23rd century, at least twelve heavy cruiser-type starships, the Constitution-class, were commissioned by the Federation Starfleet. (TOS: "Tomorrow is Yesterday") The vessel registered NCC-1701, which was constructed in San Francisco, was christened the Enterprise. Larry Marvick was stated to be one of the designers of the Enterprise, (TOS: "Is There in Truth No Beauty?") Dr. Richard Daystrom designed her computer systems, (TOS: "The Ultimate Computer") and Captain Robert April oversaw construction of her components, then commanded her during her trial runs and early missions. Sarah April served as the chief medical officer and designed several tools for the ship's sickbay. (TAS: "The Counter-Clock Incident")

Captain Christopher Pike commanded the Enterprise from the early 2250s into the 2260s. His missions included voyages to the Rigel, Vega, and Talos systems. Pike's half-Vulcan science officer, Spock, who served under him for over eleven years, would become the starship's longest-serving officer.</p>
<p>In 2265, the Enterprise was assigned to a five-year mission of deep-space exploration, and command passed to James T. Kirk. The ship's primary goal during this mission was to seek out and contact alien life. Captain Kirk's standing orders also included the investigation of all quasars and quasar-like phenomena.

Beyond her primary mission, the Enterprise defended Federation territories from aggression, aided member worlds in crisis, and provided scientific expeditions and colonies in her patrol area with annual examinations and support. From 2265 to 2270, the Enterprise visited over seventy different worlds and encountered representatives of over sixty different species. More than twenty of those were first contacts with beings previously unknown to the Federation, including stellar neighbors like the First Federation and Gorn, voyagers from the Kelvan Empire in distant Andromeda, and powerful non-corporeal entities like the Thasians, Trelane, and the Organians. Two discovered species were the first known examples of silicon-based lifeforms, the Horta and the Excalbians. </p>
<p>The Enterprise was the first Federation vessel to survive an encounter with the galactic barrier. The ship's warp drive and other systems, however, were critically damaged and casualties totaled twelve crewmembers and officers. By stardate 4657.5, the Enterprise was traveling through space in a region of space hundreds of light years further than any Earth starship had explored. (TOS: "Where No Man Has Gone Before", "Return to Tomorrow")

The reality of time travel, externally influenced, had been known for over a century, but following two accidental temporal displacements, the Enterprise became the Federation's first deliberately-controlled timeship. Observing the death-throes of Psi 2000, the crew suffered from polywater intoxication and the Enterprise nearly lost orbit after an engine shutdown. A previously untested "cold start", via controlled matter-antimatter implosion, saved the ship, but the high-speed escape from the planet's gravity well caused the ship to travel three days into the past.</p>
<p>In 2267, while escaping the gravitational pull of a black star, the Enterprise was hurled through space and time to Earth of 1969. The crew developed and executed a method to return to their own time, by warping around the sun's gravity well in a slingshot maneuver. A year later, the Enterprise was ordered to repeat the recently-proven slingshot effect, and returned to Earth's past on a mission of historical observation.</p>
<p>Some missions of discovery confronted Enterprise with entities and mechanisms that threatened great swaths of Federation and neighboring space.

An ancient "planet killer", fueled by the consumption of planets it destroyed with its antiproton weapon, approached Federation population centers in 2267. It required the combined efforts of the Enterprise and her sister ship, USS Constellation, to destroy it. (TOS: "The Doomsday Machine")

One year later, a single-cell organism of colossal scale emitted negative energy, toxic to humanoid life, killing the entire Vulcan crew of the USS Intrepid. The Enterprise penetrated the cell interior and destroyed the organism before its imminent cell division threatened to overwhelm the rest of the galaxy.</p>
</div>

<script src="script.js"></script>

</body>
</html>