<!DOCTYPE html>
<html>
<head>
  <title>Cauldron</title>
  <link href="static/css/site.css" rel="stylesheet">
</head>
<body background="http://www.walldevil.com/wallpapers/a77/background-abstract-bubbles-blue-pictures-wallpapers.jpg">
<body>
<div id="front" class="pt-page-fade">
  <center><img src='https://d30y9cdsu7xlg0.cloudfront.net/png/193107-200.png'><br>
  Connecting your ideas with the people that can make them a reality.<br><br>
  <a href="Login.html" class="button">Login</a>
  <a href="about.html" class="button">Learn More</a>
  <a href="signup.html" class="button">Sign Up</a></center>
</div>

<script src="pagetransitions.js"></script>

</body>
</html>