<!DOCTYPE html>
<html>
<head>
  <title>Networks</title>
  <link href="static/css/site.css" rel="stylesheet">
</head>
<body background="http://www.walldevil.com/wallpapers/a77/background-abstract-bubbles-blue-pictures-wallpapers.jpg">
<center><a href='index.html'><img src = 'https://d30y9cdsu7xlg0.cloudfront.net/png/193107-200.png' height='100' width='100'></a></center>
<body class="pt-page-fade">

<ul id='menu'>
<li style='float:center'><a href='projects.html'>Projects</a></li>
<li style='float:center'><a href='network.html' class='active'>Networks</a></li>
<li style='float:center'><a href='me.html'>Me</a></li>
<li style='float:center'><a href='about.html'>About Us</a></li>
<li style='float:right'><u><a href='index.html'>Sign Up</a></u></li>
<li style='float:right'><u><a href='index.html'>Log In</a></u></li>
</ul>

<div id="main">
  <h1>Networks</h1>
  <p>Lieutenant Commander Data was a Soong-type android, the first and only such being to ever enter Starfleet. Data was created some time in the 2330s and was destroyed in 2379, sacrificing himself to save the crew of the USS Enterprise-E. Data was composed of 24.6 kilograms of tripolymer composites, 11.8 kilograms of molybdenum-cobalt alloys and 1.3 kilograms of bioplast sheeting. (TNG: "The Most Toys") All told, his mass was approximately one hundred kilograms. (TNG: "Inheritance") Data's upper spinal support was a polyalloy designed to withstand extreme stress. His skull was composed of cortenide and duranium. (TNG: "The Chase") His legs were exactly 87.2 centimeters in length. (Star Trek: Insurrection) Data was built with an ultimate storage capacity of eight hundred quadrillion bits and a total linear computational speed rated at sixty trillion operations per second. (TNG: "The Measure Of A Man") Data's construction also included an artificial tongue and tear ducts.</p>
  <p>As a Soong-type android, Data was incapable of alcohol intoxication, yet components in his processing systems were susceptible to disruption by polywater intoxication. (TNG: "The Outrageous Okona", "The Naked Now") He did not require sustenance, but occasionally ingested semi-organic nutrient suspension in a silicon-based liquid medium to lubricate his biofunctions. (TNG: "Deja Q") Data also demonstrated immunity to telepathy and other psionic abilities. Deanna Troi could not sense him empathically; nor was he affected by the telepathic broadcasts of the Bendii Syndrome-afflicted Sarek. (TNG: "Night Terrors", "The Game", "Violations", "Phantasms", "Sarek") This quality made Data a most fascinating individual to the psionically-gifted Betazoid Tam Elbrun, who rejoiced in his interaction with Data, noting the value he in particular perceived, in "just once having to get to know someone".</p>
  <p>Data had an aging program designed to simulate the external effects of aging in his physical appearance. The blinking of his eyes was governed by a Fourier series, to simulate randomness. (TNG: "Inheritance") In 2369, Dr. Julian Bashir further expressed his fascination for all the trouble Dr. Soong took to make Data seem "Human." He was especially surprised on how "personable" Data was. He also questioned Data about whether his hair grew, and observed that Data was "breathing" and had a "pulse." Together, Bashir and Data investigated an alien device. The device emitted a plasma shock that overloaded Data's positronic net, activating a series of previously dormant circuits that subsequently gave Data the ability to dream.</p>
  <p>Data appeared to have been left-handed, or at least, he seemed to favor his left hand for tasks such as painting, using a pen, gun tricks, and more. (TNG: "11001001", "Time's Arrow", "A Fistful of Datas") He was completely ambidextrous though, and even capable of painting two pieces at once. (TNG: "Birthright, Part I")

Data as a floatation device
Data demonstrates his flotation capabilities
Data was "designed to serve as a flotation device in the event of a water landing", though once before 2370 he had to walk 1.46 kilometers underwater because he didn't "have enough buoyancy to get back to the surface" after deciding to go swimming in Devala Lake while sailing with Geordi La Forge. It took nearly two weeks to get the water out of Data's servos. No doubt this was a retrofit implemented with La Forge subsequent to the incident.</p> 
</div>

<script src="script.js"></script>

</body>
</html>