<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <link href="static/css/site.css" rel="stylesheet">
</head>
<body background="http://www.walldevil.com/wallpapers/a77/background-abstract-bubbles-blue-pictures-wallpapers.jpg">
<center><a href='index.html'><img src = 'https://d30y9cdsu7xlg0.cloudfront.net/png/193107-200.png' height='100' width='100'></a></center>
<body class="pt-page-fade">

<ul id='menu'>
<li style='float:center'><a href='projects.html' class='active'>Projects</a></li>
<li style='float:center'><a href='network.html'>Networks</a></li>
<li style='float:center'><a href='me.html'>Me</a></li>
<li style='float:center'><a href='about.html'>About Us</a></li>
<li style='float:right'><u><a href='index.html'>Sign Up</a></u></li>
<li style='float:right'><u><a href='index.html'>Log In</a></u></li>
</ul>

<div id="main">
  <h1>Projects</h1>
  <p>William Thomas Riker was a noted Starfleet officer, perhaps best known for his long assignment as first officer under Captain Jean-Luc Picard aboard the USS Enterprise-D and later the USS Enterprise-E. In 2379 he finally accepted a promotion as captain of the USS Titan. (Star Trek: The Next Generation; Star Trek: First Contact; Star Trek Nemesis)

In 2361, a transporter accident resulted in two Rikers, with each one being identical to the other as well as genetically indistinguishable. Their personalities and memories were the same up to the point of the duplication. The other Riker eventually decided to use his middle name and became known as Thomas Riker.</p>
<p>William Thomas Riker was born in 2335 to Kyle and Betty Riker in Alaska on Earth. (TNG: "The Icarus Factor", "Conundrum", "Second Chances") His distant ancestors were from mainland North America, including Colonel Thaddius Riker, who fought in the American Civil War. Betty died when Will was only two years old, leaving his father to raise him alone. (TNG: "Interface") The Rikers remained in Alaska at Betty's wish. The only thing which kept Kyle going was Will, but he did not feel as if he could discuss the situation with him, even when Will was older. The memories of Betty's presence at their Alaska home were also painful for both. This initial trauma created a rift between the two Rikers which lasted thirty years. </p>
<p>When Will first started school, he told all of his new friends that his mother was still alive. Eventually, he told the story so often that he began to believe the lie. Soon, his teacher learned of this problem, and both she and Kyle had to talk to Will and make him realize that his mother was dead and was not coming back. Will cried the entire night following, but later realized it was an important step in accepting his mother's death. (TNG: "Interface")

However, Will's relationship with Kyle continued to deteriorate into his early teens. He was often left to care for himself, learning such skills as cooking. (TNG: "Time Squared", "Future Imperfect")

Will was never able to concentrate much on subjects such as math, as he constantly daydreamed about starships. (TNG: "The Royale")

In 2344, Will and his father went on a fishing trip. Will was able to hook a large fish, but Kyle insisted on reeling the fish in. This incident bothered Will for many years. He also practiced anbo-jytsu with his father. Kyle admitted that by the time Will was twelve, his skills were superior. Will did not know that the only reason he always lost was because his father used an illegal move called hachidan kiritsu.

Kyle completely abandoned Will by 2350, when Will was fifteen. Will held a grudge against his father for the following fifteen years. </p>
<p>Will entered Starfleet Academy in 2353. During his time at the Academy, his superintendent was a Vulcan, who had taken the time to memorize the personnel files of each and every cadet. (TNG: "The First Duty") Paul Rice was a close friend of Riker's while at the Academy. (TNG: "The Arsenal of Freedom")

He felt that people were out to get him during his first year at the Academy. (TNG: "Frame of Mind")

During a battle simulation against a Tholian opponent, Riker calculated a sensory blind spot of the Tholian vessel and hid within the blind spot. This ingenious tactical strategy was noted in his record. (TNG: "Peak Performance")

Upon graduation in 2357, Riker was ranked eighth in his class. He set lofty goals for himself, and hoped to reach captain before thirty-five years of age.</p>
</div>

<script src="script.js"></script>

</body>
</html>